<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="doctor">
            <h2><span jhiTranslate="healthcareApp.doctor.detail.title">Doctor</span> {{ doctor.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="healthcareApp.doctor.name">Name</span></dt>
                <dd>
                    <span>{{ doctor.name }}</span>
                </dd>
                <dt><span jhiTranslate="healthcareApp.doctor.phone">Phone</span></dt>
                <dd>
                    <span>{{ doctor.phone }}</span>
                </dd>
                <dt><span jhiTranslate="healthcareApp.doctor.salary">Salary</span></dt>
                <dd>
                    <span>{{ doctor.salary }}</span>
                </dd>
                <dt><span jhiTranslate="healthcareApp.doctor.department">Department</span></dt>
                <dd>
                    <span *ngFor="let department of doctor.departments; let last = last">
                        <a [routerLink]="['/department', department?.id, 'view']">{{ department.name }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/doctor', doctor.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
